.containerExam{
    width: 100%;
    height: 100vh;
    display: flex;
}
.asideLeftE{
    border: 1px solid #fffc00;
    width: 70%;
    height: 100%;
    color:#fff;
}
.navExam{
    padding:15px;
    border-bottom: 1px solid #fffc00;
    background-color: #1F2A40;
    height: 20%;
    width: 100%;
}
.timeExam{
    margin-top: 10px;
}
.bodyExam{
    width:100%;
    height: 80%;
    background: #141b2d;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.mainExam{
    padding: 1% 5%;
}
.question{
    display: flex;
    flex-wrap: wrap;
}
label{
    margin-left: 4px;
}
.answers{
    margin: 20px;
}
.answerInput{
    margin-top: 8px;
}
.btnExam{
    margin: 0 35px;
    display: flex;
    justify-content: space-between;
}
.btn{
    padding: 10px 20px;
}
.btnFinishExam{
    width: 100%;
    display: flex;
    justify-content: center;
}
.btnFinish{
    cursor: pointer;
    padding:18px 40px;
    border-radius: 10px;
    color: #ffffff;
    background: #aa4b6b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
}
.progress-bar {
    margin:20px 10px;
    /* Colors */
    background-color: #d1d5db;
    /* Rounded border */
    border-radius: 9999px;
    padding: 0.25rem;
    padding: 0;
}

.progress-bar__progress {
    height: 5%;
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;
    /* Colors */
    background-color: #41C54E;
    color: #fff;
    /* Rounded border */
    border-radius: 9999px;
}
.asideRight{
    padding:10px 0 30px 0;
    width: 30%;
    border: 1px solid #fffc00;
    border-left: none;
    height: 100%;
    background: #1F2A40;
    display: flex;
    flex-direction: column;
}
.chooseQuestion{
    margin:10px;
    width: 100%;
    height: 100%;
}
.btnQuestion{
    padding: 5px 20px;
    margin: 8px 8px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
.active{
    color: #fff;
    background: green;
}
.modalE.isMobileE{
    display: none;
}
.headerMobileE{
    display: none;
}
.modalE {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    animation: faceIn linear 0.1s;
    display: flex;
}

.modal__overlayE {
    display:flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal__bodyE {
    --growth-from: 0.7;
    --growth-to: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: growth linear 0.1s;
    display: relative;
    z-index: 999;
}
.modalE{
    display: none;
}
@media(max-width:739px){
    .asideRight{
        display: none;
    }
    .asideRightM{
        padding:10px 0 30px 0;
        width: 80%;
        border: 1px solid #fffc00;
        border-left: none;
        height: 70%;
        background: #1F2A40;
        display: flex;
        flex-direction: column;
    }
    .asideLeftE{
        width: 100%;
    }
    .headerExam{
        display: none;
    }
    .headerMobileE{
        display: block;
        align-items: center;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 10%;
    }
    .btnMobileE{
        border-radius: 3px;
        padding:8px;
        border: none;
    }
    .modalE.isMobileE{
        display: block;
    }
    
}