
.container{
    height: 100vh;
    display: flex;
}
.navUser{
    background-color: #1F2A40;
    width: 17%;
    height: 100%;
}
.imgUser{
    margin-top: 15%;
    width: 55%;
    border-radius: 50%;
}
.avatarUser{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{
    width: 80%;
    margin:20px 0 0px 15px;
}
.infoUser{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
}
.actionBtnUser{
    width: 100%;
    height:34px;
    text-decoration: none;
    border:none;
    border-radius: 2px;
    font-size:1.5rem;
    padding:0 12px;
    outline:none;
    cursor: pointer;
    display:inline-flex;
    align-items: center;
    justify-content:center;
    line-height: 1.6rem;
}
.btn{
    color: #ffffff;
    background: #aa4b6b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.infoUserName{
    width: 100%;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color:#fff;
    overflow: hidden;
    
}
.infoUserPoint{
    width: 100%;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color:#fff;
    overflow: hidden;
    
}
.main{
    padding:10px 20px 15px 20px;
    width: 83%;
    height: 100vh;
    background-color: #141b2d;
    display: flex;
    flex-direction: column;
}
.toolDash{
    margin: 10px 0px 0px 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 7%;
    
}
.searchDash{
    display: flex;
    width: 70%;
    height: 100%;
    background-color: rgba(22, 24, 35, 0.06);
}
.inputSearch{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding:10px;
    flex: 1;
    border:none;
    outline: none;
}
.search-btn{
    border: none;
    padding:0 20px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.filterDash{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: 10%;
    height: 100%;
    background-color: #ffffff;
}
.leaderBoard{
    margin-top:20px;
    background-color:#1F2A40;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}